
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;

}
.page1{
    position: absolute;
    height: 100%;
    width: 100%;
   background-image: url("https://bmw.scene7.com/is/image/BMW/bmw_neue-klasse_home-stage_teaser:16to9?fmt=webp&wid=2560&hei=1444");
   background-size: cover;
}
.nav{
    background-image: linear-gradient(180deg, rgb(158, 157, 157),rgba(215, 215, 215, 0.056));
    height: 80px;
    width:100%;
    display: flex;
    color: white;
    text-transform: capitalize;
    padding-left: 93px;
    align-items: center;
    justify-content: space-between;
}
.nav img{
    height: 55px;
}
.navpart1{
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-left: 4px;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 2px;
    font-size: 14px;
   
    font-weight: 900;
    word-spacing: 1px;
    letter-spacing: 1px;

}
.navpart2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    padding-left: 454px;
    font-family: 'Titillium Web', sans-serif;

    font-size: 16.5px;
    font-weight: 600;

}
#line{
    margin-top: 3px;
    margin-left: 100px;
    height: 1px ;
    width: 86%;
    background-color:white
    
}
.page1 h4{
    font-size: 17px;
    margin-left:100px;
    margin-top: 16px;
    text-transform: capitalize;
    color: white;
    font-weight: 400;
    font-family: 'Titillium Web', sans-serif;
    word-spacing: 2px;
}
h4 span{
    font-weight: 800;
}
.heading{
    width:60%;
    left: 7%;
    top: 42%;
    z-index: 1;
    position: relative;
}
.heading h5{
   color: white;
   text-transform: uppercase;
font-size: 15px;
font-family: 'Titillium Web', sans-serif;
word-spacing: 2px;
letter-spacing: 2px;

}
.heading h2{
    margin-top: -11px;
    color: white;
    text-transform: uppercase;
 font-size: 70px;
 font-family: 'Titillium Web', sans-serif;
 word-spacing: 2px;
 letter-spacing: 2px;
 font-weight: 100;
 }
 .heading h4{
    margin-top: -11px;


    color: white;
    text-transform: uppercase;
 font-size:25px;
 font-family: 'Titillium Web', sans-serif;
 word-spacing: 1px;
 letter-spacing: 2px;
 font-weight: 300;
 }
 .heading button{
    margin-top: 11px;
border: none;
    background-color: #1C69D4;
    padding-left: 54px;
    padding-right: 54px;
    padding-top: 12px;
    padding-bottom: 12px;

    color: white;
    border-radius: 3px;
 font-size: 18px;
 font-family: 'Titillium Web', sans-serif;

 
 font-weight: 900;
 }
.page2{
    position: relative;
    height: 100%;
    width: 100%;

    
}
.page2 h4{
    position: relative;
    z-index: 1;
    font-family: 'Lato', sans-serif;
    /* color: white; */
    text-transform: uppercase;

}