* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.page1 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("https://bmw.scene7.com/is/image/BMW/bmw_neue-klasse_home-stage_teaser:16to9?fmt=webp&wid=2560&hei=1444");
    background-size: cover;
}

.nav {
    background-image: linear-gradient(180deg, rgba(48, 47, 47, 0.738), rgba(215, 215, 215, 0.056));
    height: 80px;
    width: 100%;
    display: flex;
    color: white;
    text-transform: capitalize;
    padding-left: 93px;
    align-items: center;
    justify-content: space-between;
}

.nav img {
    height: 52px;
}

.navpart1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-left: 4px;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 900;
    word-spacing: 1px;
    letter-spacing: 1px;

}

.navpart1:hover {
    text-decoration: underline solid #1C69D4;
    text-decoration-thickness: 4px;
    text-underline-offset: 2.2em;
    cursor: pointer;
}

.navpart2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
    padding-left: 454px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16.5px;
    font-weight: 600;

}

#line {
    margin-top: 3px;
    margin-left: 100px;
    height: 1px;
    width: 86%;
    background-color: white
}

.page1 h4 {
    font-size: 17px;
    margin-left: 100px;
    margin-top: 16px;
    text-transform: capitalize;
    color: white;
    font-weight: 400;
    font-family: 'Titillium Web', sans-serif;
    word-spacing: 2px;
}

h4 span {
    font-weight: 800;
}

.heading {
    width: 60%;
    left: 7%;
    top: 42%;
    position: relative;
}

.heading h5 {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.heading h2 {
    margin-top: -11px;
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    font-family: 'Titillium Web', sans-serif;
    word-spacing: 2px;
    letter-spacing: 2px;
    font-weight: 100;
}

.heading h4 {
    margin-top: -11px;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
    word-spacing: 1px;
    letter-spacing: 2px;
    font-weight: 300;
}

.heading button {
    margin-top: 11px;
    border: none;
    background-color: #1C69D4;
    padding-left: 54px;
    padding-right: 54px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    border-radius: 3px;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
}

a {
    color: white;
    text-decoration: none;
}

.heading button:hover {
    background-color: #0653B6;
    cursor: pointer;
}


.page2 video {
    top: 550px;
    position: relative;
}

.heading2 {
    width: 60%;
    left: 7%;
    margin-top: 200px;
    position: relative;
}

.heading2 h5 {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.heading2 h2 {
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    font-family: 'Titillium Web', sans-serif;
    word-spacing: 2px;
    letter-spacing: 2px;
    font-weight: 100;
}

.heading2 h4 {
    margin-top: -10px;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
    word-spacing: 1px;
    letter-spacing: 2px;
    font-weight: 300;
}

.heading2 #btn1 {

    margin-top: 30px;
    border: none;
    background-color: #1C69D4;
    padding: 16px 38px;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

.heading2 #btn2 {
    margin-top: 11px;
    border: 1px solid white;
    background-color: transparent;
    padding: 16px 50px;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

.heading2 #btn1:hover {
    background-color: #0653B6;
    cursor: pointer;
}

.heading2 #btn2:hover {
    border: 2px solid white;
    cursor: pointer;
}

.page3 {
    height: 112%;
    width: 100%;
}

.page3 .shop {
    margin-top: 122px;
    color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
}


.page3 .shop h5 {
    text-transform: uppercase;
    font-size: 17px;
    font-family: 'Titillium Web', sans-serif;
    word-spacing: 1px;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
}

.page3 .head {
    margin-top: 2px;
}

.page3 .head h3 {
    color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 55px;
    font-family: 'Titillium Web', sans-serif;
    word-spacing: 1px;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
}

.cont {
    margin-top: -37px;
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cont .car1 img {
    margin-top: 20px;
    height: 50%;
}

.car1 h6 {
    position: relative;
    margin-top: -12px;
    font-weight: 400;
    font-size: 23px;
    font-family: 'Titillium Web', sans-serif;
    left: 32%;
    word-spacing: 1px;

}

.car1 button {
    position: relative;
    margin-top: 31px;
    border: 1px solid black;
    background-color: transparent;
    padding: 16px 20px;
    color: black;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
    left: 34%;
}

.cont .car2 img {
    margin-top: 20px;
    height: 50%;
}
.car2 h6 {
    position: relative;
    margin-top: -12px;
    font-weight: 400;
    font-size: 23px;
    font-family: 'Titillium Web', sans-serif;
    left: 30%;
    word-spacing: 1px;

}

.car2 button {
    position: relative;
    margin-top: 31px;
    border: 1px solid black;
    background-color: transparent;
    padding: 16px 20px;
    color: black;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
    left: 30%;
}

.cont .car3 img {
    margin-top: 20px;
    height: 50%;
}
.car3 h6 {
    position: relative;
    margin-top: -12px;
    font-weight: 400;
    font-size: 23px;
    font-family: 'Titillium Web', sans-serif;
    left: 33%;
    word-spacing: 1px;
    width: 40%;

}

.car3 button {
    position: relative;
    margin-top: 31px;
    border: 1px solid black;
    background-color: transparent;
    padding: 16px 22px;
    color: black;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
    left: 32%;
}
.cont button:hover {
    border: 2px solid black;
    cursor: pointer;
}

.banner {
    width: 100%;
    height: 60%;
    background-image: url(https://bmw.scene7.com/is/image/BMW/DI21_000048047:3to1?fmt=webp&wid=2560&hei=854);
    background-size: contain;
}
.banner h3{
    width: 70%;
    position: relative;
    margin-top: -10px;
    color: white;
    text-transform: uppercase;
    font-size: 52px;
    font-family: 'Titillium Web', sans-serif;
    word-spacing: 1px;
    letter-spacing: 3px;
    font-weight: 500;
    left: 6%;
    top:145px;
}
.banner button{
   position: relative;
   top: 30%;
   left: 6%;
    border: 1px solid white;
    background-color: transparent;
    padding: 16px 121px;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}
.banner button:hover {
    border: 2px solid white;
    cursor: pointer;
}
.page4{
    height: 100%;
    width: 100%;
}
.upper{
    height: 50%;
    width: 100%;
    display: flex;
}
.ek {
    height: 100%;
    width: 50%;
    background-color: #1C69D4;
}
.ek img{
    top: 20px;
    position: relative;
    height: 87%;
    width: 86%;
    left: 95px;
}
.do {
    height: 100%;
    width: 50%;
    background-color: #5a5a5a;
}
.do h6{
    color: #666666;

    text-transform: uppercase;
    font-size: 17px;
    font-family: 'Titillium Web', sans-serif;
    word-spacing: 1px;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
}
.do h3{
    
}
.bottom{
    height: 50%;
    width: 100%;
    display: flex;
}
.teen{
    height: 100%;
    width: 50%;
    background-color:gold;
}
.teen img{
    top: 20px;
    position: relative;
    height: 87%;
    width: 86%;
    left: 95px;
}
.char {
    height: 100%;
    width: 50%;
    background-color: forestgreen;
}